@model IEnumerable<Order>

@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>Customer Name</td>
        <td>Address</td>
        <td>Region</td>
        <td>User Name</td>
        <td>Shipped</td>
    </tr>
    @foreach(Order order in Model)
    {
        <tr>
            <td>@order.CustomerName</td>
            <td>@order.Address</td>
            <td>@order.Region</td>
            <td>@order.UserName</td>
            <td>@order.Shipped</td>
        </tr>
    }
</table>