@model IEnumerable<Order>
<h3 class="p-2 bg-primary text-white text-center">Order</h3>

@{
   ViewBag.searches = new string[] { "CustomerName", "Region" };
   ViewBag.sorts = new string[] { "CustomerName", "Address", "Region", "PostalIndex", "Shipped" };
}
@Html.Partial("PageOptions", Model)
<br />

<div class="container-fluid mt-3">
    @if(Model.Count() > 0)
    {
       <div class="row">
            <div class="col-1 font-weigth-bold">Id</div>
            <div class="col-1 font-weigth-bold">Name</div>
            <div class="col-1 font-weigth-bold">Postal Index</div>
            <div class="col-1 font-weigth-bold">Total</div>
            <div class="col-1 font-weigth-bold">Profit</div>
            <div class="col-1 font-weigth-bold">Status</div>
            <div class="col-3"></div>
        </div> 
    }
</div>

<div>
    @if(Model.Count() == 0)
    {
            <div class="text-center">
                <h5>No Orders</h5>
            </div>
    }
    else
    {
        @foreach(Order o in Model)
        {
        <div class="row p-2">
            <div class="col-1">@o.Id</div>
            <div class="col-1">@o.CustomerName</div>
            <div class="col-1">@o.PostalIndex</div>
            <div class="col-1">@o.Lines.Sum(l => l.Quantity * l.Product.RetailPrice)</div>
            <div class="col-1">@o.Lines.Sum(l => l.Quantity * (l.Product.RetailPrice - l.Product.PurchasePrice))</div>
            <div class="col-1">@(o.Shipped ? "Shipped" : "Pending")</div>
            <div class="col-3" text-rigth>
                <form asp-action="DeleteOrder" method="post">
                    <input type="hidden" name="Id" value="@o.Id" />
                    <a asp-action="EditOrder" asp-route-id="@o.Id" class="btn btn-outline-primary">Edit</a>
                    <button type="submit" class="btn btn-outline-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
        }
    }
</div>

<div class="text-center"> 
    <a asp-action="EditOrder" class="btn btn-primary">Create</a> 
</div> 

<br />
<div class="text-center">
    @Html.Partial("Pages", Model)
</div>